{% extends 'main/base.html' %}
{% block title %}Sign Up | My Secure Social{% endblock %}
{% block content %}
<h2><i class="fa-solid fa-user-plus"></i> Sign Up</h2>
<form method="post">
    {% csrf_token %}
    <label for="username"><i class="fa-solid fa-user"></i> Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password"><i class="fa-solid fa-lock"></i> Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit"><i class="fa-solid fa-user-plus"></i> Sign Up</button>
</form>
<p>Already have an account? <a href="/login/"><i class="fa-solid fa-right-to-bracket"></i> Login here</a></p>
{% endblock %}